extends layout

block content
  h3 Controller #{config.host}
  h5 Status
    table.table.table-bordered
      tr
        th Registration delay (seconds):
        td= !!controller.awaiting_registration * (Date.now() - controller.awaiting_registration) / 1000
      tr
        th Registrations:
        td= JSON.stringify(controller.registration)
      tr
        th Grid delay (seconds):
        td= !!controller.awaiting_grid * (Date.now() - controller.awaiting_grid) / 1000
      tr
        th Grid:
        td= JSON.stringify(controller.grid)

  h5 Managed machines
    table.table.table-bordered
      tr
        th IP/port
        th Roles
        th Bottleneck factors
        th Health
