!!!
html
  head
    title Red Velvet
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')

    :stylus
      body
        margin-top: 60px

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
            a(href='#').brand Home
            span.icon-bar
            span.icon-bar
            span.icon-bar
              div.nav-collapse
                ul.nav


    .container
      block content

    footer
      p &copy; Company 2012
