!!!
html
  head
    title Red Velvet
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src="/jquery.js")
    script(src="/d3.js")
    script(src="/bootstrap/js/bootstrap.js")

    :stylus
      body
        margin-top: 80px

  body
    :stylus
      body
        background-color white
        color #333
      h3, h5
        color #730606

      .table
        border-color red
        td, th
          border-color red
      .slide
        p
          font-size 2em
        h3
          font-size 4em
        h5
          font-size 3em
        ul
          li
            font-size 2em
            padding 5px

    
    .navbar.navbar-invers.navbar-fixed-top(style="background-color: #730606;")
      .container
        a.brand(href="/")
          img(src="/logo.png")
        block header

    .container
      block content

    footer.container
      p &copy; Factual Hackathon 2013
