!!!
html
  head
    title Red Velvet
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src="/jquery.js")
    script(src="/d3.js")
    script(src="/bootstrap/js/bootstrap.js")

    :stylus
      body
        margin-top: 20px

  body
    :stylus
      body
        background-color black
        color #eee
      h3
        color red

    .container
      h3 Red Velvet
      block content

    footer.container
      p &copy; Factual Hackathon 2013
