!!!
html
  head
    title Red Velvet
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src="/jquery.js")
    script(src="/d3.js")
    script(src="/bootstrap/js/bootstrap.js")

    :stylus
      body
        margin-top: 0px

  body
    :stylus
      body
        background-color black
        color #eee
      h3, h5
        color #cc0606

      .slide
        p
          font-size 2em
        h3
          font-size 4em
        h5
          font-size 3em
        ul
          li
            font-size 2em
            padding 5px

    
    div(style="background-color: #730606; padding: 10px; margin-bottom: 10px")
      .container
        img(src="/logo.png")

    .container
      block content

    footer.container
      p &copy; Factual Hackathon 2013
