extends layout
block content
  h3 Worker
  h5 Ask
  .form-horizontal
    .control-group
      label.control-label question
      .controls
        input.question(value='avg-duration')
    .control-group
      label.control-label data
      .controls
        textarea.data(placeholder='apikey')
    .form-actions
      button.btn.btn-primary Get Answer
  :coffeescript
    $ ->
      $question = $('.question')
      $data     = $('.data')
      $('.btn').click () ->
        path = "/ask/#{$question.val()}/#{$data.val()}"
        $.get path, (payload)->
          alert payload.toString()
