extends layout
block content
  h3 Worker
  h5 Ask
  hr
  .form-horizontal
    .control-group
      label.control-label question
      .controls
        input.question(placeholder='avg-duration')
    .control-group
      label.control-label data
      .controls
        textarea.data(placeholder='apikey')
    .form-actions
      button.btn.btn-primary Get Answer
      .answer
  :coffeescript
    $ ->
      $question = $('.question')
      $data     = $('.data')
      $answer   = $('.answer')
      $('.btn').click () ->
        path = "/ask/#{$question.val()}"
        $.post path, data: $data.val(), (payload)->
           $answer.hide()
           $answer.text payload.toString()
           $answer.fadeIn()
